<%- include("header") -%>

  <div class="container">


    <div id="heading">
      <h1>
        <%= listTitle===new Date().toISOString().slice(0, 10)?"Today":listTitle %>
      </h1>
      Date:<input type="date" name="date" id="datePicker" value="<%=listTitle%>"
        onchange="window.location.href = '/'+ this.value">
    </div>

    <div class="box">
      <% newListItems.forEach( (item)=> { %>

        <form action="/delete" method="POST">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
            <p>
              <%= item.name %>
            </p>
            <input type="hidden" name="listName" value="<%= listTitle %>">
          </div>
        </form>

        <% }) %>

          <form class="item" action="<%= formUrl %> " method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list">+</button>
          </form>
    </div>


  </div>
  <%- include("footer") -%>